# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.git

**/Dockerfile
.dockerignore

# dependencies

**/node_modules
.pnp
.pnp.js

# testing

coverage

# next.js

**/.next/cache

**/tsconfig.tsbuildinfo
**/.eslintcache
**/.eslintrc.\*

# config

config/endpoint.js

# misc

**/.DS_Store
**/*.pem

# debug

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# turbo

**/.turbo

**/__generated__

.husky
.vscode
.github
.cache
tmp

**/playwright/**
